In [1]:
import numpy as np
import pandas as pd
from sklearn import ensemble
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import joblib

In [2]:
df = pd.read_csv(r"E:\Adhil\web\flask\Health-App-main\data\kidney.csv")
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [3]:
df.drop('id',axis=1,inplace=True)
df = df.dropna(axis=0)

In [4]:
df[['rbc','pc']] = df[['rbc','pc']].replace(to_replace={'abnormal':1,'normal':0})
df[['pcc','ba']] = df[['pcc','ba']].replace(to_replace={'present':1,'notpresent':0})

In [8]:
df.head()

,age,Blood Pressure,Sugar,Albumin,Blood Sugar Level,Red Blood Cells Count,Pus Cell Count,Pus Cell Clumps,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,48.0,70.0,1.005,4.0,0.0,0,1,1,0,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
9,53.0,90.0,1.020,2.0,0.0,1,1,1,0,70.0,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
11,63.0,70.0,1.010,3.0,0.0,1,1,1,0,380.0,...,32,4500,3.8,yes,yes,no,poor,yes,no,ckd
14,68.0,80.0,1.010,3.0,2.0,0,1,1,1,157.0,...,16,11000,2.6,yes,yes,yes,poor,yes,no,ckd
20,61.0,80.0,1.015,2.0,0.0,1,1,0,0,173.0,...,24,9200,3.2,yes,yes,yes,poor,yes,yes,ckd

In [6]:
df.rename(columns={'bp':'Blood Pressure'},inplace=True)
df.rename(columns={'sg':'Sugar'},inplace=True)
df.rename(columns={'al':'Albumin'},inplace=True)
df.rename(columns={'su':'Blood Sugar Level'},inplace=True)
df.rename(columns={'rbc':'Red Blood Cells Count'},inplace=True)
df.rename(columns={'pc':'Pus Cell Count'},inplace=True)
df.rename(columns={'pcc':'Pus Cell Clumps'},inplace=True)

In [9]:
df['classification'] = df['classification'].replace(to_replace={'ckd':1.0,'ckd\t':1.0,'notckd':0.0,'no':0.0})

In [10]:
df.rename(columns={'classification':'class'},inplace=True)

In [11]:
df.head()

,age,Blood Pressure,Sugar,Albumin,Blood Sugar Level,Red Blood Cells Count,Pus Cell Count,Pus Cell Clumps,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
3,48.0,70.0,1.005,4.0,0.0,0,1,1,0,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,1.0
9,53.0,90.0,1.020,2.0,0.0,1,1,1,0,70.0,...,29,12100,3.7,yes,yes,no,poor,no,yes,1.0
11,63.0,70.0,1.010,3.0,0.0,1,1,1,0,380.0,...,32,4500,3.8,yes,yes,no,poor,yes,no,1.0
14,68.0,80.0,1.010,3.0,2.0,0,1,1,1,157.0,...,16,11000,2.6,yes,yes,yes,poor,yes,no,1.0
20,61.0,80.0,1.015,2.0,0.0,1,1,0,0,173.0,...,24,9200,3.2,yes,yes,yes,poor,yes,yes,1.0

In [12]:
cols = ['Blood Pressure', 'Sugar', 'Albumin', 'Blood Sugar Level', 'Red Blood Cells Count', 'Pus Cell Count', 'Pus Cell Clumps']
X = df[cols]
y = df['class']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state=44, stratify= y)
print('Shape training set: X:{}, y:{}'.format(X_train.shape, y_train.shape))
print('Shape test set: X:{}, y:{}'.format(X_test.shape, y_test.shape))

Shape training set: X:(105, 7), y:(105,)
Shape test set: X:(53, 7), y:(53,)

In [15]:
model = ensemble.RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print('Accuracy : {}'.format(accuracy_score(y_test, y_pred)))

Accuracy : 0.9811320754716981

In [16]:
clf_report = classification_report(y_test, y_pred)
print('Classification report')
print("---------------------")
print(clf_report)
print("_____________________")

Classification report
---------------------
              precision    recall  f1-score   support

         0.0       0.97      1.00      0.99        39
         1.0       1.00      0.93      0.96        14

    accuracy                           0.98        53
   macro avg       0.99      0.96      0.98        53
weighted avg       0.98      0.98      0.98        53

_____________________

In [17]:
joblib.dump(model,r"E:\Adhil\web\flask\kidney_api-main\kidney_model.pkl")

['E:\\Adhil\\web\\flask\\kidney_api-main\\kidney_model.pkl']